/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
html {
  background: #000;
}

/* line 14, ../sass/screen.scss */
body {
  width: 1024px;
  font-size: 64px;
  margin: 0 auto 0;
  background: #fff;
  -moz-transition: margin-top 0.5s ease;
  -webkit-transition: margin-top 0.5s ease;
  -o-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
  overflow: hidden;
  line-height: 1.5em;
  position: relative;
}
/* line 24, ../sass/screen.scss */
body > * {
  padding: 512px 2em;
  margin: 0;
}
/* line 29, ../sass/screen.scss */
body > p > img:first-child {
  width: 1024px;
  margin: 0 -2em;
  display: block;
}
/* line 35, ../sass/screen.scss */
body ul > li {
  padding: 0.5em 0;
}
/* line 39, ../sass/screen.scss */
body > h1, body > h2, body > h3, body > h4, body > h5, body > h6, body > h7 {
  font-size: 1.2em;
}
